<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="fonts/stylesheet.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="head">
        <a href="/" class="head__logo">
            <img src="img/logo.png" alt="">
        </a>
        <ul class="head__links">
            <li><a href="">О нас </a></li>
            <li><a href="">Вакансии</a> </li>
            <li><a href="">Правила</a> </li>
            <li><a href="">Вопросы</a></li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    <script src="js/jquery.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>