@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Poppins Thin Italic'), local('Poppins-ThinItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light Italic'), local('Poppins-LightItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium Italic'), local('Poppins-MediumItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm111lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black Italic'), local('Poppins-BlackItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  list-style-type: none;
  color: #373737;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
  background-color: #fbfbfb;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  z-index: 4;
  transition: 1s;
  opacity: 1;
  visibility: visible;
}
.preloader__hide {
  opacity: 0;
  visibility: hidden;
}
.loader {
  width: 100px;
  height: 100px;
  border: 2px solid #725ceb;
  border-left-color: #fbfbfb;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: 1s linear infinite preloader;
          animation: 1s linear infinite preloader;
}
@-webkit-keyframes preloader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes preloader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
.container {
  max-width: 1328px;
  padding: 0 30px;
  margin: 0 auto;
}
.head {
  padding: 35px 56px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}
.headhesive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  transition: 0.3s;
  background-color: #fff;
  z-index: 3;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 15px 50px rgba(114, 92, 235, 0.08);
}
.headhesive--stick {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.head__links {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.head__links li {
  margin-right: 70px;
}
.head__links a {
  font-size: 18px;
}
.hero {
  margin-top: 60px;
}
.hero .container {
  display: grid;
  grid-template-columns: auto 460px;
}
.hero__text .form__inline {
  margin-top: 60px;
}
.hero__brand {
  font-size: 144px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.hero__img {
  position: relative;
}
.hero__img:before {
  content: "";
  width: 1418px;
  height: 1418px;
  display: block;
  background-image: url(../img/hero__figure.svg);
  position: absolute;
  top: -470px;
  left: -40px;
}
.hero__img img {
  margin-top: -90px;
  position: relative;
}
.hero__title {
  font-size: 34px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 51px;
}
.hero__desc {
  font-size: 18px;
  margin-top: 40px;
  line-height: 30px;
  color: #616161;
}
.form__inline {
  display: flex;
  align-items: center;
}
.form__inline .btn {
  margin-left: -12px;
}
.input {
  padding: 20px 30px;
  font-size: 16px;
  box-shadow: 0px 4px 50px rgba(114, 92, 235, 0.08);
  border: none;
  border-radius: 9px;
}
.btn {
  padding: 20px 30px;
  font-size: 16px;
  background: #725ceb;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 9px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  transition: 0.3s;
  text-align: center;
}
.btn:hover {
  background-color: #8673ee;
}
.btn.orange {
  background-color: #ff9d00;
}
.btn.orange:hover {
  background-color: #ffa71a;
}
.btn.white {
  background-color: #fff;
  color: #725ceb;
}
.separator {
  max-width: 961px;
  height: 1px;
  background-color: #c6c6c6;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.sec__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}
.sec__title.white {
  color: white;
}
.how__work {
  position: relative;
  padding-bottom: 70px;
}
.how__work__lines {
  position: absolute;
  top: 400px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}
.how__work__triangle {
  position: absolute;
  top: -390px;
  left: -1523px;
}
.how__work__items {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 46px;
  position: relative;
}
.how__work__items.full {
  grid-template-columns: 100%;
  margin-top: 45px;
}
.how__work__item {
  box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.07);
  border-radius: 32px;
  background: #fefefe;
  border: 1px solid #efefef;
  padding: 50px;
  position: relative;
}
.how__work__item.full {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 120px;
  padding-left: 100px;
}
.how__work__item.full .how__work__item__text {
  align-self: center;
}
.how__work__item.full .how__work__item__img {
  margin-top: 0;
}
.how__work__item.full .how__work__item__title {
  text-align: left;
  margin-top: 0;
}
.how__work__item.full .how__work__item__separator {
  margin-left: 0;
}
.how__work__item.full .how__work__item__desc {
  text-align: left;
}
.how__work__item__img {
  width: 100%;
  padding-bottom: 77%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 20px;
}
.how__work__item__title {
  font-weight: bold;
  font-size: 36px;
  margin-top: 54px;
  text-align: center;
}
.how__work__item__separator {
  width: 163px;
  height: 1px;
  background-color: #dfdfdf;
  margin: 0 auto;
  margin-top: 28px;
}
.how__work__item__desc {
  text-align: center;
  margin-top: 37px;
  line-height: 24px;
}
.how__work__item__icon {
  width: 50px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  position: absolute;
  top: 24px;
  left: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.sec__desc {
  text-align: center;
  margin-top: 45px;
  color: #646464;
}
.start__work {
  position: relative;
  padding-bottom: 70px;
}
.start__work__items {
  margin-top: 130px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 47px;
  position: relative;
}
.start__work__lines {
  position: absolute;
  top: 270px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1920px;
  width: 100%;
}
.start__work__item {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
}
.start__work__item__number {
  margin-right: 50px;
  height: 73px;
  width: 73px;
  min-width: 73px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Poppins;
  font-size: 32px;
  /* identical to box height */
  color: #725ceb;
}
.start__work__item__title {
  font-weight: bold;
  font-size: 32px;
}
.start__work__item__desc {
  margin-top: 16px;
  color: #a4a4a4;
  font-size: 18px;
  line-height: 27px;
}
.idols__slider {
  margin-top: 100px;
  padding-bottom: 70px;
  background-image: url(../img/idol__bg.svg);
  background-position: bottom center;
  background-repeat: repeat-x;
}
.idols__slider .owl-stage-outer {
  margin-top: -50px;
  margin-bottom: -50px;
  padding: 50px 0;
}
.idols__slide {
  background: #fefefe;
  border: 1px solid #efefef;
  box-sizing: border-box;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  padding: 18px;
}
.idols__slide__content {
  background: #f4f4f4;
  border-radius: 31px;
  position: relative;
}
.idols__slide__content:before {
  content: "";
  display: block;
  width: 164px;
  height: 17px;
  background-image: url(../img/chelka.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.idols__slide__img {
  width: 100%;
  padding-bottom: 157%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 31px;
}
.idols__slide__text {
  padding: 30px 25px;
}
.idols__slide__name {
  font-weight: 600;
  font-size: 18px;
}
.idols__slide__desc {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin-top: 7px;
}
.faq {
  background: #725ceb;
  padding-bottom: 254px;
  padding-top: 100px;
}
.faq .separator {
  margin-top: 0;
}
.faq .sec__title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: block;
}
.faq .sec__title:before {
  content: "?";
  display: block;
  width: 73px;
  height: 73px;
  border-radius: 100%;
  background: #725ceb;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: -110px;
  top: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
.faq__tabs {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 38px;
}
.faq__tab {
  background-color: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  overflow: hidden;
}
.faq__tab__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 40px 50px;
}
.faq__tab__content {
  padding: 40px 50px;
  border-top: 1px solid #ededed;
}
.faq__tab__content p {
  font-size: 14px;
  line-height: 21px;
}
.faq__tab__title {
  font-weight: 600;
  font-size: 18px;
}
.faq__tab__arrow {
  width: 17.3px;
  height: 9px;
  background-image: url(../img/tab__arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.faq__tab__arrow.active {
  background-image: url(../img/tab__arrow__active.svg);
}
.mobile__app {
  position: relative;
}
.mobile__app .container {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 148px;
}
.mobile__app__lines {
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}
.mobile__app__img {
  margin-left: -40px;
  margin-top: -150px;
  position: relative;
}
.mobile__app__text {
  align-self: center;
}
.mobile__app__text .btn {
  margin-top: 20px;
  width: 230px;
  text-align: center;
}
.mobile__app__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  position: relative;
}
.mobile__app__title span {
  font-size: 24px;
}
.mobile__app__title:before {
  content: "";
  width: 73px;
  height: 73px;
  border-radius: 100%;
  background-image: url(../img/mobile__app__title.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: -80px;
  top: -70px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
}
.mobile__app__desc {
  font-size: 14px;
  color: #727272;
  margin-top: 180px;
}
.footer {
  background-color: #725ceb;
  padding-top: 118px;
  padding-bottom: 60px;
  position: relative;
}
.footer * {
  color: white;
}
.footer__offer__icon {
  width: 73px;
  height: 73px;
  border-radius: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background-image: url(../img/footer__offer__icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.footer__offer__left {
  display: flex;
  align-items: center;
}
.footer__offer__title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 600;
  margin-left: 50px;
  color: white;
}
.footer__offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__offer .form__inline .btn {
  width: 230px;
}
.footer__offer .form__inline input {
  width: 328px;
}
.footer__links {
  -webkit-column-count: 5;
     -moz-column-count: 5;
          column-count: 5;
  line-height: 38px;
}
.footer__links a {
  font-weight: 600;
  font-size: 12px;
}
.footer__center {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__social__title {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}
.footer__social__items {
  margin-top: 30px;
  display: flex;
}
.footer__social__item {
  margin: 0 10px;
}
.footer__listcenter {
  margin-top: 120px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
.footer__copyright {
  font-size: 14px;
  margin-top: 50px;
  text-align: center;
}
.page {
  margin-top: 120px;
}
.page__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
.page__desc {
  font-size: 24px;
  line-height: 30px;
  color: #616161;
  margin-top: 86px;
}
.aboutas__wrapper {
  padding-bottom: 190px;
  position: relative;
}
.aboutas__items {
  margin-top: 212px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
  position: relative;
}
.aboutas__items * {
  position: relative;
}
.aboutas__triangle {
  position: absolute;
  top: -470px;
  left: 370px;
}
.aboutas__lines {
  position: absolute;
  width: 1920px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 30px;
  width: 100%;
}
.aboutas__item {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
}
.aboutas__item__icon {
  width: 73px;
  min-width: 73px;
  height: 73px;
  border-radius: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 50px;
}
.aboutas__item__title {
  font-size: 32px;
  font-weight: 600;
}
.aboutas__item__contact {
  font-size: 20px;
  font-weight: 600;
  color: #646464;
  margin-top: 28px;
  display: block;
}
.global__wrapper {
  overflow: hidden;
}
.vacansies {
  position: relative;
  padding-bottom: 175px;
}
.vacansies * {
  position: relative;
}
.vacansies__triangle {
  position: absolute;
  left: -100px;
  top: -160px;
}
.vacansies__lines {
  position: absolute;
  right: 40px;
  top: 350px;
}
.vacansies__hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.vacansies__img img {
  margin-top: -60px;
  margin-right: -50px;
  margin-left: 50px;
}
.vacansies__item {
  background: #ffffff;
  box-shadow: 0px 15px 50px rgba(114, 92, 235, 0.08);
  border-radius: 25px;
  padding: 40px 70px;
}
.vacansies__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.vacansies__items__col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 38px;
}
.vacansies__item {
  align-self: start;
}
.vacansies__item__title {
  font-weight: 600;
  font-size: 28px;
}
.vacansies__item__desc {
  margin-top: 30px;
}
.vacansies__item__subdesc {
  margin-top: 40px;
  font-weight: 600;
  font-size: 18px;
}
.vacansies__item__desc {
  line-height: 24px;
}
.vacansies__item__list {
  margin-top: 20px;
  line-height: 24px;
}
.vacansies__item__list li {
  padding-left: 24px;
  margin-bottom: 20px;
  position: relative;
}
.vacansies__item__list li:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: #ae9fff;
  position: absolute;
  left: 0px;
  top: 6px;
}
.vacansies__item__list ul {
  padding-left: 24px;
}
.vacansies__item__list ul li {
  padding-left: 24px;
  margin-bottom: 14px;
  position: relative;
  font-size: 14px;
  line-height: 24px;
}
.vacansies__item__list ul li:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  border-radius: 0;
  background: #ae9fff;
  position: absolute;
  left: 0px;
  top: 12px;
}
.vacansies__items__triangle {
  position: absolute;
  bottom: -1290px;
  right: 810px;
}
.regulations {
  padding-bottom: 150px;
}
.regulations__hero {
  display: flex;
  align-items: flex-start;
}
.regulations__hero__img {
  position: relative;
}
.regulations__hero__img img {
  margin-right: -580px;
  margin-top: -40px;
}
.regulations__hero__img .regulations__laptop {
  z-index: 1;
  width: 999px;
}
.regulations__hero__img * {
  position: relative;
}
.regulations__laptop {
  width: 999px;
}
.regulations__lines {
  position: absolute;
  width: 1920px;
  top: 500px;
  right: 250px;
}
.regulations__items {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 100px;
  margin-top: 120px;
}
.regulations__items * {
  position: relative;
}
.regulations__item {
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(166, 166, 166, 0.25);
  border-radius: 25px;
  padding: 70px 100px;
}
.regulations__item .vacansies__item__list {
  font-size: 18px;
}
.regulations__item__title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 600;
  text-align: center;
}
.regulations__item__paragraph {
  line-height: 36px;
  font-size: 18px;
  margin-top: 40px;
}
.regulations__item__paragraph__number {
  font-weight: 800;
  font-size: 18px;
  color: #725ceb;
}
.regulations__items__triangle-1 {
  position: absolute;
  left: 270px;
  top: -250px;
}
.regulations__items__triangle-2 {
  position: absolute;
  right: 270px;
  bottom: -250px;
}
.regulations__items__lines-1 {
  position: absolute;
  width: 1920px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 1700px;
}
.regulations__items__lines-2 {
  position: absolute;
  width: 1920px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 1500px;
}
.registration {
  padding-bottom: 200px;
  margin-top: 80px;
}
.registration .page__title {
  text-align: center;
}
.registration__form__title {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.7;
}
.registration__forms {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  position: relative;
}
.registration__forms * {
  position: relative;
}
.registration__forms__triangle {
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.registration__forms__lines {
  position: absolute;
  width: 1920px;
  bottom: -170%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.registration__form {
  padding: 0 80px;
}
.registration__form.left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  justify-self: right;
}
.registration__form.right {
  justify-self: left;
}
.registration__form form {
  margin-top: 30px;
  width: 353px;
}
.registration__form form input {
  width: 100%;
  margin-bottom: 20px;
}
.registration__form form .politics {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}
.registration__form form .btn {
  width: 300px;
  margin: 0 auto;
  margin-top: 44px;
  display: block;
}
.registration__form__links {
  margin-top: 30px;
}
.registration__form__link {
  display: flex;
  align-items: center;
  height: 58px;
  padding: 0 30px;
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(24, 24, 24, 0.1);
  border-radius: 8px;
  width: 300px;
  margin-bottom: 20px;
}
.registration__form__link img {
  margin-right: 20px;
}
.registration__form__link span {
  font-weight: 600;
  font-size: 16px;
}
.registration__form__login {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #725ceb;
  margin-top: 38px;
  display: block;
}
.head__hamburger {
  margin-left: auto;
  display: none;
}
.head__hamburger img {
  width: 50px;
}
.mobilenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;
  display: none;
}
.mobilenav__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 56px;
}
.mobilenav__title {
  font-size: 34px;
  font-weight: 600;
}
.mobilenav__links a {
  font-size: 34px;
  padding: 35px 56px;
  border-top: 1px solid #dfdfdf;
  display: block;
}
.error404 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  margin-top: 0;
  position: relative;
}
.error404__triangle {
  position: absolute;
  left: 50%;
  bottom: 20%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.error404__lines-1 {
  position: absolute;
  left: 50%;
  top: -700px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}
.error404__lines-2 {
  position: absolute;
  left: 50%;
  top: 400px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}
.error404__img {
  max-width: 80%;
}
