@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Poppins Thin Italic'), local('Poppins-ThinItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light Italic'), local('Poppins-LightItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium Italic'), local('Poppins-MediumItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm111lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black Italic'), local('Poppins-BlackItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  list-style-type: none;
  color: #373737;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
.container {
  max-width: 1268px;
  margin: 0 auto;
}
.head {
  padding: 35px 56px;
  display: flex;
  align-items: center;
}
.head__links {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.head__links li {
  margin-right: 70px;
}
.head__links a {
  font-size: 18px;
}
.hero {
  margin-top: 130px;
}
.hero .container {
  display: grid;
  grid-template-columns: auto 460px;
}
.hero__text .form__inline {
  margin-top: 60px;
}
.hero__brand {
  font-size: 144px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.hero__img {
  position: relative;
}
.hero__img:before {
  content: "";
  width: 1418px;
  height: 1418px;
  display: block;
  background-image: url(../img/hero__figure.svg);
  position: absolute;
  top: -470px;
  left: -40px;
}
.hero__img img {
  margin-top: -90px;
  position: relative;
}
.hero__title {
  font-size: 34px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 51px;
}
.hero__desc {
  font-size: 18px;
  margin-top: 40px;
  line-height: 30px;
  opacity: 0.4;
}
.form__inline {
  display: flex;
  align-items: center;
}
.form__inline .btn {
  margin-left: -12px;
}
.input {
  padding: 20px 30px;
  font-size: 16px;
  box-shadow: 0px 4px 50px rgba(114, 92, 235, 0.08);
  border: none;
  border-radius: 9px;
}
.btn {
  padding: 20px 30px;
  font-size: 16px;
  background: #725ceb;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 9px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.separator {
  max-width: 961px;
  height: 1px;
  background-color: #c6c6c6;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.sec__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}
.sec__title.white {
  color: white;
}
.how__work {
  position: relative;
  padding-bottom: 70px;
}
.how__work__lines {
  position: absolute;
  top: 400px;
  left: 0;
  width: 100%;
}
.how__work__triangle {
  position: absolute;
  top: -480px;
  left: -1700px;
}
.how__work__items {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 46px;
  position: relative;
}
.how__work__items.full {
  grid-template-columns: 100%;
  margin-top: 45px;
}
.how__work__item {
  box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.07);
  border-radius: 32px;
  background: #fefefe;
  border: 1px solid #efefef;
  padding: 50px;
  position: relative;
}
.how__work__item.full {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 120px;
  padding-left: 100px;
}
.how__work__item.full .how__work__item__text {
  align-self: center;
}
.how__work__item.full .how__work__item__img {
  margin-top: 0;
}
.how__work__item.full .how__work__item__title {
  text-align: left;
  margin-top: 0;
}
.how__work__item.full .how__work__item__separator {
  margin-left: 0;
}
.how__work__item.full .how__work__item__desc {
  text-align: left;
}
.how__work__item__img {
  width: 100%;
  padding-bottom: 77%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 20px;
}
.how__work__item__title {
  font-weight: bold;
  font-size: 36px;
  margin-top: 54px;
  text-align: center;
}
.how__work__item__separator {
  width: 163px;
  height: 1px;
  background-color: #dfdfdf;
  margin: 0 auto;
  margin-top: 28px;
}
.how__work__item__desc {
  text-align: center;
  margin-top: 37px;
  line-height: 24px;
}
.how__work__item__icon {
  width: 50px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  position: absolute;
  top: 24px;
  left: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
}
.sec__desc {
  text-align: center;
  margin-top: 45px;
  color: #646464;
}
.start__work {
  position: relative;
  padding-bottom: 70px;
}
.start__work__items {
  margin-top: 130px;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 47px;
  position: relative;
}
.start__work__lines {
  position: absolute;
  top: 270px;
  left: 0;
  width: 100%;
}
.start__work__item {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
}
.start__work__item__number {
  margin-right: 50px;
  height: 73px;
  width: 73px;
  min-width: 73px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Poppins;
  font-size: 32px;
  /* identical to box height */
  color: #725ceb;
}
.start__work__item__title {
  font-weight: bold;
  font-size: 32px;
}
.start__work__item__desc {
  margin-top: 16px;
  color: #a4a4a4;
  font-size: 18px;
  line-height: 27px;
}
.idols__slider {
  margin-top: 100px;
  padding-bottom: 70px;
}
.idols__slider .owl-stage-outer {
  margin-top: -50px;
  margin-bottom: -50px;
  padding: 50px 0;
}
.idols__slide {
  background: #fefefe;
  border: 1px solid #efefef;
  box-sizing: border-box;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  padding: 18px;
}
.idols__slide__content {
  background: #f4f4f4;
  border-radius: 31px;
}
.idols__slide__img {
  width: 100%;
  padding-bottom: 157%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 31px;
}
.idols__slide__text {
  padding: 30px 25px;
}
.idols__slide__name {
  font-weight: 600;
  font-size: 18px;
}
.idols__slide__desc {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin-top: 7px;
}
.faq {
  background: #725ceb;
}
.faq .sec__title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: block;
}
.faq .sec__title:before {
  content: "?";
  display: block;
  width: 73px;
  height: 73px;
  border-radius: 100%;
  background: #725ceb;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: -110px;
  top: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
